<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <div th:replace="fragments/head.html"></div>
    <body>
        <div th:replace="fragments/header.html"></div>
        <div class="container mt-3">
            <h2 style="text-align: center">Clientes inativos</h2>
            <p></p>
            <table class="table table-striped">
                <thead class="table-dark">
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cliente : ${clientes}">
                    <td><span th:text="${cliente.nome}"></span></td>
                    <td><span th:text="${cliente.cpf.numero}"></span></td>
                    <td>
                        <a th:href="@{'/cliente/inativos/reativar/' + ${cliente.id}}" ><button type="submit" class="btn btn-info">REATIVAR CONTA</button></a>
                    </td>
                    <td>
                        <a th:href="@{'/cliente/excluir/' + ${cliente.id}}"><button type="submit" class="btn btn-danger">EXCLUIR</button></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>

