<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <div th:replace="fragments/head.html"></div>
    <body>
        <div th:replace="fragments/header.html"></div>
        <div class="container mt-3 content-spacing">
            <h2 style="text-align: center">Produtos Cadastrados</h2>
            <p></p>
            <table class="table table-striped">
                <thead class="table-dark">
                <tr>
                    <th>Codigo</th>
                    <th>Produto</th>
                    <th>Preço</th>
                    <th>Quantidade Cheio</th>
                    <th>Quantidade Vazio</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="produto : ${produtos}">
                    <td><span th:text="${produto.id}"></span></td>
                    <td><span th:text="${produto.nome}"></span></td>
                    <td>R$<span th:text="${produto.preco}"></span></td>
                    <td><span th:text="${produto.estoque.quantidadeCheio}"></span></td>
                    <td><span th:text="${produto.estoque.quantidadeVazio}"></span></td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">ADICIONAR
                            </button>
                            <div class="dropdown-menu">
                                <!-- Button to Open the Modal -->
                                <button type="button" class="btn" data-bs-toggle="modal"
                                        th:attr="data-bs-target=${'#produtoModal' + produto.id}" data-produto="${produto}">
                                    COMPRA DE PRODUTO
                                </button>

                                <!-- Button to Open the Modal -->
                                <button type="button" class="btn" data-bs-toggle="modal"
                                        th:attr="data-bs-target=${'#vasilhameModal' + produto.id}" data-produto="${produto}">
                                    COMPRA DE VASILHAME
                                </button>
                            </div>
                        </div>
                    </td>
                    <td>
                        <a th:href="@{'/produto/atualizar/' + ${produto.id}}" ><button type="submit" class="btn btn-warning">ATUALIZAR</button></a>
                    </td>
                    <td>
                        <a th:href="@{'/produto/excluir/' + ${produto.id}}"><button type="submit" class="btn btn-danger">EXCLUIR</button></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Modal de Adicionar Produto -->
        <div th:each="produto : ${produtos}">
            <div class="modal fade" th:id="${'produtoModal' + produto.id}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">COMPRA DE CARGA DO PRODUTO</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <form th:action="@{/produto/adicionarProduto/{id}(id=${produto.id})}" method="post">
                            <div class="modal-body">
                                <label>Quantidade comprada:</label>
                                <input type="hidden" name="id" th:value="${produto.id}"/>
                                <input type="number" name="quantidade" placeholder=""/>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary"
                                        th:href="@{/produto/adicionarProduto/{id}(id=${produto.id})}"
                                        th:method="post">Adicionar
                                </button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Sair</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal de Adicionar Vasilhame -->
        <div th:each="produto : ${produtos}">
            <div class="modal fade" th:id="${'vasilhameModal' + produto.id}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">COMPRA DE NOVOS VASILHAMES</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <form th:action="@{/produto/adicionarCompra/{id}(id=${produto.id})}" method="post">
                            <div class="modal-body">
                                <label>Quantidade de vasilhame:</label>
                                <input type="hidden" name="id" th:value="${produto.id}"/>
                                <input type="number" name="quantidade" placeholder=""/>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary"
                                        th:href="@{/produto/adicionarCompra/{id}(id=${produto.id})}"
                                        th:method="post">Adicionar
                                </button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Sair</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

